<!DOCTYPE html>

<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="tracing_page" content="width=device-width, initial-scale=1.0">
  <meta name="pierretabet" http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>Canvas</title>
</head>

<body>

  <canvas id="canvas_window" class="myclass"></canvas>
  <script src="./canvas.js"></script>
  <div class="next_image_button">
      <button id="next_image">Next</button>

  </div>
  <div class="post_data_button">
      <button id="postdata">Post Coordinates</button>
  </div>
</body>
</html>
