.myclass{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}
.next_image_button{
    text-align: center;
}
.post_data_button{
    text-align: center;
}

#canvas_window{
    border: 2px solid black;
    //test
}
